_format_version: "1.1"
services:
  - name: auth-v1
    url: http://supabase-auth:9999/1
    routes: [{ name: auth-v1-all, strip_path: true, paths: ["/auth/v1"] }]
  - name: rest-v1
    url: http://supabase-rest:3000/1
    routes: [{ name: rest-v1-all, strip_path: true, paths: ["/rest/v1"] }]
  - name: storage-v1
    url: http://supabase-storage:5000
    routes: [{ name: storage-v1-all, strip_path: true, paths: ["/storage/v1"] }]
  - name: functions-v1
    url: http://supabase-edge:8081
    routes: [{ name: functions-v1-all, strip_path: true, paths: ["/functions/v1"] }]
consumers:
  - username: anon
    keyauth_credentials: [{ key: ${ANON_KEY} }]
  - username: service_role
    keyauth_credentials: [{ key: ${SERVICE_KEY} }]
